<div
        vue-entry="MicrosoftTeams.ReportParameters"
        is-required-fields-set="{{ isRequiredFieldsSet|default(false)|json_encode }}"
        default-format="{{ defaultFormat|default(null)|json_encode|e('html_attr') }}"
        default-display-format="{{ defaultDisplayFormat|default(null)|json_encode|e('html_attr') }}"
        default-evolution-graph="{{ defaultEvolutionGraph|default(false)|json_encode|e('html_attr') }}"
></div>