{% if vipName is not empty %}
	<p>
		<strong>VIP</strong>:
		<a href="{{ vipUrl }}" rel="noreferrer noopener" target="_blank" class="visitorLogTooltip" title="{{ vipName }}">
			{{ vipName }}
		</a>
	</p>
{% endif %}